<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="DBCS" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='C:\Users\pomahtik\source\repos\program for school tests ukr\Database\Database.mdf';Integrated Security=True;Connect Timeout=30" />
	</connectionStrings>
</configuration>